<table class='table table-striped' id="account_table_admin">
  <thead>
    <tr>
      <th> First Name</th>
      <th> Last Name</th>
      <th> Gender</th>
      <th>Reg No</th>
      <th>Phone No</th>
      <th>More</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
<%= render 'users' %>  
  </tbody>
</table>

<div id='pagination_div'>
  <%=will_paginate @users,renderer: BootstrapPagination::Rails %>
</div>