<table class='table table-striped' id="account_table_admin">
  <thead>
    <tr>
      <th><span class="glyphicon glyphicon-paperclip"></span> Account Name</th>
      <th>Subscribed on:</th>
      <th> Edit </th>
      <th>Delete</th>
      <th>Add</th>
    </tr>
  </thead>
  <tbody>
<%= render 'subscribers' %>  
  </tbody>
</table>

<div id='pagination_div'>
  <%=will_paginate @Subscriptions, renderer: BootstrapPagination::Rails %>
</div>