<div class="row">
  <div class="col-sm-12">

<table class='table table-striped' id="account_table_admin">
<thead>
  <tr><th class='theading' colspan=2><span class="glyphicon glyphicon-flag"></span> Treasurer'S Ballot</th></tr>
</thead>
<tbody>
<% @aspirants.each do |aspirant| %>

<%if aspirant.position=="Treasurer"%>
<tr>
<td>
<%= image_tag aspirant.image_url(),class:"img-thumbnail",width:"100", height:"80"%>
 <%= aspirant.first_name%> <%=aspirant.last_name%>
 </td>
 <td><div class="radio"> <%= f.radio_button :treasurer, aspirant.id,class:'bigradio' %> </div> </td>
 </tr>
</tbody>
<%end%>
<%end%>

</table>
</div>

</div>